/* google font */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: #cccccc;
}

::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
}

.container {
  width: 100%;
  min-height: 100lvh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(#ffcfcf, #ffcdcd);
}

/* header */

.header {
  width: calc(100% - 3rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem 0;
}

.header-title {
  font-size: 3rem;
}

.header-description {
  font-size: 1.5rem;
  margin: 1rem 0;
}

/* main */

.main-box {
  position: relative;
  width: calc(100% - 3rem);
  max-width: 580px;
  min-height: 500px;
  margin: 1rem 0 1.5rem;

  background: linear-gradient(135deg, #e8adad 25%, #c2b1d2 50%, #6698c7 85%);
  background-size: 200% 200%;
  animation: gradient-animation 20s ease infinite;

  box-shadow: 15px 20px 20px rgb(40 50 58 / 80%),
    -15px 20px 20px rgb(40 50 58 / 80%);
  border-radius: 15px;
  backdrop-filter: blur(5rem);
  z-index: 10;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.main-form {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1.5rem 1rem 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #000;

  div {
    position: relative;
  }
}

.main-input {
  width: 200px;
  height: 30px;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 0.25rem 2rem 0.25rem 0.25rem;
  background-color: #ffcdcd;
  outline: none;
}

.invalid-input {
  border: 2px solid #ff5656;
  &::placeholder {
    color: #fc7979;
  }
}

.invalid-label {
  position: absolute;
  top: -1.25rem;
  left: 8.25rem;
  color: #ff5656;
}

.main-input-icon {
  position: absolute;
  right: 10px;
  top: 7px;
}

.invalid-icon {
  color: #ff5656;
}

.main-input-btn {
  color: #322f2f;
  border: 2px solid #322f2f;
  border-radius: 9px;
  padding: 5px 15px;
  font-size: 15px;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    color: #000;
  }
}

.main-input-btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -1rem;
  transform: skewX(45deg);
  background-color: rgb(37, 168, 55);
  z-index: -1;
  transition: all 1s;
}

.main-input-btn:hover::before {
  width: 160%;
}

.sort-by {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 1rem;
}

.sort-by label {
  font-size: 1.2rem;
}

.sort-by select {
  background-color: transparent;
  padding: 3px;
  border: 2px solid #000;
  border-radius: 7px;
  cursor: pointer;
  outline: none;

  option {
    background-color: #efcece;
  }
}

.delete-all-btn {
  padding: 4px 6px;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.8s linear;
  font-size: 14px;

  &:hover {
    background-color: #ff5656;
  }
}

.main-list {
  padding-bottom: 3rem;
}

.item-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg, #d0aaaa, #ffc5c5, #c2b1d2);
  border-radius: 15px;
  padding: 1rem 0;
  margin: 0.75rem 1rem;
  transition: box-shadow 0.3s linear;
  &:hover {
    box-shadow: 0 0 10px 0 #000;
  }
}

.new-item-ani {
  animation: new-item-animation 0.8s ease-in-out;
}

@keyframes new-item-animation {
  from {
    opacity: 0;
    filter: blur(1rem);
  }

  to {
    opacity: 1;
    filter: blur(0);
  }
}

.item-del-btn {
  padding: 5px 8px;
  border: none;
  border-radius: 6px;
  background-color: #ff5656;
  cursor: pointer;
  &:hover {
    background-color: #ff0000;
  }
}

.item-check-btn {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 6px;
  background-color: rgb(37, 168, 55);
  cursor: pointer;
  &:hover {
    background-color: rgb(0, 128, 0);
  }
}

.item-checked {
  background: rgb(37, 168, 55);
  transition: all 1s linear;
}

.item-checked li {
  text-decoration: line-through;
}

.item-title {
  width: 200px;
  font-size: 1rem;
  font-weight: 600;
  list-style: none;
  text-align: center;
}
/* progress */

.progress {
  position: absolute;
  width: calc(100% - 2rem);
  bottom: 10px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}

.progress-bar-text {
  font-size: 17px;
}

.progress-bar {
  display: block;
  width: 100%;
  height: 7px;
  border: 1px solid;
  border-radius: 10px;
}

.progress-bar-fill {
  background-color: rgb(37, 168, 55);
  display: block;
  width: 50%;
  height: 100%;
  border: none;
  border-radius: 10px;
}
/* footer */

.footer-background {
  position: fixed;
  background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 1440 320"><path fill="rgb(60 137 171)"   d="M0,160L0,192L72,192L72,288L144,288L144,128L216,128L216,160L288,160L288,320L360,320L360,0L432,0L432,96L504,96L504,288L576,288L576,64L648,64L648,64L720,64L720,96L792,96L792,96L864,96L864,256L936,256L936,32L1008,32L1008,288L1080,288L1080,224L1152,224L1152,0L1224,0L1224,64L1296,64L1296,224L1368,224L1368,224L1440,224L1440,320L1368,320L1368,320L1296,320L1296,320L1224,320L1224,320L1152,320L1152,320L1080,320L1080,320L1008,320L1008,320L936,320L936,320L864,320L864,320L792,320L792,320L720,320L720,320L648,320L648,320L576,320L576,320L504,320L504,320L432,320L432,320L360,320L360,320L288,320L288,320L216,320L216,320L144,320L144,320L72,320L72,320L0,320L0,320Z"></path></svg>');
  background-repeat: repeat-x;
  background-size: 1000px auto;
  background-position: bottom;
  bottom: 0%;
  width: 100%;
  height: 225px;
  animation: wave-animation 45s linear infinite;
}

@keyframes wave-animation {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: -1000px;
  }
}

/* hidden */
.hidden {
  opacity: 0;
  pointer-events: none;
}

/*  */
@media (max-width: 600px) {
  .header-title {
    font-size: 2.5rem;
  }

  .header-description {
    font-size: 1.25rem;
  }

  .main-box {
    margin: 0 1rem 0;
  }
}
